body{
  background-color: rgb(204, 201, 201);

}
.App {
  text-align: center;
}

.App-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: rgb(105, 102, 102);
}

.search {

  margin: 0 auto;
  border: none;
  border:solid 2px #ccc;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
  height: 40px;
  width: 250px;
}

.search:focus{
  outline: 0;
}


.buttonInText {
  display:inline-block;
  position:relative;
}

.textArea{
  margin-top: 20px;
  border-radius: 20px;
  font-size: calc(10px + 2vmin);
  display:block;
  max-width: 550px;
  min-height: 100px;
}

.textArea:focus{
  outline: 0;
}

.inputButton {
  margin-top: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-size: calc(10px + 2vmin);
  position:absolute;
  bottom:10px;
  right:10px;
}

.showButton {
  margin-top: 20px;
  background-color: rgb(211, 223, 42);
  border: none;
  color: rgb(105, 102, 102);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-size: calc(10px + 2vmin);
}

.greenBox {
  height: 30vh;
  width: 30vh;
  display: inline-block;
  border: 2px solid transparent;
  margin: 10px;
  text-align: left;
  padding: 0;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: #2ecc71;
  border:solid 2px rgb(12, 11, 11);
}

.listBox {
  display: inline-block;
  margin: 10px;
  text-align: left;
  font-weight: bold;
  border-radius: 20px;
}

.delete {
  background-color: red;
  color: white;
  border-radius: 100%;
  margin: 10px;
}